<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triperenceback.mapper.PlaceMapper">
    <select id="getPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        SELECT * FROM tour_areabasedlist limit 20;
    </select>

    <select id="getCategoryPlace" parameterType="com.example.triperenceback.dto.placeDTO.Place" resultType="com.example.triperenceback.dto.placeDTO.Place">
        SELECT * FROM tour_areabasedlist where (contenttypeid = #{contenttypeid}) or (cat3=#{accom}) or (cat3 = #{restaur}) or (cat2 = #{cat2}) limit 20;
    </select>

    <select id="getChoaPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from tour_kculture as kc join tour_areabasedlist as abl on kc.contentid = abl.contentid where artist regexp 'BTS|BLACKPINK|Kim Taeri|Lee Jungjae';
    </select>

    <select id="getMirPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from his_palacegates;
    </select>

    <select id="getHimchanPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from pho_selfie;
    </select>

    <select id="getPureumPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from nat_mountains;
    </select>

    <select id="getSodamPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from food_tradtiontable;
    </select>

    <select id="getNoriPlace" resultType="com.example.triperenceback.dto.placeDTO.Place">
        select * from enter_sightdynm;
    </select>

<!--    <select id="getHanok" resultType="com.example.triperenceback.dto.placeDTO.Place">-->
<!--        -->
<!--    </select>-->



    <!--    <select id="getChoaKPOP" resultType="com.example.triperenceback.dto.placeDTO.Place">-->
<!--        select * from tour_kculture as kc join tour_areabasedlist as abl on kc.contentid = abl.contentid where artist regexp 'BTS|BLACKPINK';-->
<!--    </select>-->
<!--    <select id="getChoaKVIDEO" resultType="com.example.triperenceback.dto.placeDTO.Place">-->
<!--        select * from tour_kculture as kc join tour_areabasedlist as abl on kc.contentid = abl.contentid where contenttitle regexp 'Mr. Sunshine|Squid Game';-->
<!--    </select>-->
</mapper>