<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triperenceback.mapper.SurveyMapper">
    <select id="surveyList" resultType="com.example.triperenceback.dto.Survey">
        SELECT * FROM user_survey;
    </select>

    <insert id="insertSurvey" parameterType="com.example.triperenceback.dto.Survey">
        INSERT INTO user_survey(user_id, user_email ,transportation, stay, destination, allergie, eat, category, kpop,
                                k_movie_drama,shoot, subject, era, historyPlace, naturePlace, placeOne, placeTwo,
                                foodOne, foodTwo, testtime)
        VALUES (#{user_id}, #{user_email}, #{transportation}, #{stay}, #{destination}, #{allergie}, #{eat}, #{category}, #{kpop},
                #{k_movie_drama}, #{shoot}, #{subject}, #{era}, #{historyPlace}, #{naturePlace}, #{placeOne}, #{placeTwo},
                #{foodOne}, #{foodTwo}, now());
    </insert>
</mapper>