<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.triperenceback.mapper.SurveyMapper">
    <select id="surveyList" resultType="com.example.triperenceback.dto.Survey">
        SELECT * FROM user_survey;
    </select>

<!--        <insert id="insertSurvey" parameterType="com.example.triperenceback.dto.Survey">-->
<!--            INSERT INTO user_survey(transportation, stay, destination, allergie, testtime)-->
<!--            VALUES (#{transportation}, #{stay}, #{destination}, #{allergie}, now())-->
<!--        </insert>-->
    <insert id="insertSurvey" parameterType="com.example.triperenceback.dto.Survey">
        INSERT INTO user_survey(eat)
        VALUES
    <insert id="insertSurvey" parameterType="com.example.triperenceback.dto.Survey">-->
    <!--        INSERT INTO user_survey(transportation, stay, destination, allergie, eat, category, kpop,-->
    <!--                                k_movie_drama, shoot, subject, era, historyPlace, naturePlace,placeOne, placeTwo,-->
    <!--                                foodOne, foodTwo, testtime)-->
    <!--        VALUES (#{transportation}, #{stay}, #{destination}, #{allergie}, #{eat}, #{category}, #{kpop},-->
    <!--                #{k_movie_drama},#{shoot}, #{subject}, #{era}, #{historyPlace}, #{naturePlace}, #{placeOne}, #{placeTwo},-->
    <!--                #{foodOne}, #{foodTwo}, now());-->
    <!--    </insert>            <foreach collection="eat" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
        </insert>

    <!--    <insert id="insertSurvey" parameterType="com.example.triperenceback.dto.Survey">-->
<!--        INSERT INTO user_survey(allergie)-->
<!--        VALUES-->
<!--            <foreach collection="array" item="item" separator=" , ">-->
<!--                ("${item.allergie}")-->
<!--            </foreach>-->
<!--    </insert>-->

<!---->
</mapper>